body {
    background-image: url(cool-background2.png);
    background-size: cover;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(135deg, #0000009f, #ffffff5d)
}
li {
    float: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
p {
    color: black;
}
h1 {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-image: linear-gradient(0deg, rgba(128, 128, 128, 0.5), rgba(255, 255, 255, 0.418));
}
h2 {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-image: linear-gradient(0deg, rgba(128, 128, 128, 0.5), rgba(255, 255, 255, 0.418));
}